body {
    margin: 0px;
}

#wrap {
    width: 100vw;
    height: 100vh;
}


/* #loginDiv {
    background-color: red;
    width: 10vw;
    height: 10vw;
} */

.productCard {
    width: 200px;
    height: 200px;
}